@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainmain {
  display: flex;
  width: 100%;
  justify-content: center;
}

.moneybackMainContainer {
  display: flex;
  width: 70vw;
}

.moneybackImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.moneybackLogo {
  height: 350px;
}

.moneybackParaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
}

.moneybackParaContainer p {
  width: 25vw;
  font-size: large;
  margin-bottom: 15px;
}

.moneybackParaContainer .moneybackParaTwo {
  font-size: 46px;
}

#moneybackFlexContainer {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin: 10px 0;
}

.moneybackButton {
  width: 26vw;
  font-size: 15px;
  padding: 14px 80px;
  border-radius: 50px;
  border: none;
  background-color: blue;
  color: white;
}

@media screen and (max-width: 750px) {
  .moneybackMainContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .moneybackImgContainer {
    width: 68vw;
  }
  .moneybackParaContainer {
    width: 80vw;
    align-items: baseline;
  }
  #moneybackFlexContainer {
    width: 80vw;
  }
  .moneybackButton {
    width: 70vw;
  }
}

.faqHeading {
  margin-top: 100px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

.faq-container {
  width: 90%;
  max-width: 1000px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

details {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

summary {
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  font-size: 18px;
  background: rgba(0, 123, 255, 0.1);
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

summary:hover {
  background: rgba(0, 123, 255, 0.2);
  color: #007BFF;
}

details[open] summary {
  color: #007BFF;
}

summary::after {
  content: "+";
  font-size: 22px;
  font-weight: bold;
  margin-left: auto;
  padding-left: 30px;
}

details[open] summary::after {
  content: "−";
}